.topad {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    height: auto;
    position: relative;
    top: 20px;
    margin: 0 auto;

}
		.leftbox{
			width: 300px;
			margin-right: 20px;
		}
		.subbox img{
			margin-left: 12px;
			border:15px solid #F8EFBA;
		}