body {
	backgound: #f5f6fa;
}

hr {
	border: none;
	height: 1px;
	background-color: #bdc3c7;
}

.topad {
	display: flex;
	flex-wrap: wrap;
	width: 950px;
	height: auto;
	position: relative;
	top: 20px;
	margin: 0 auto;
}

.leftbox {
	width: 300px;
	margin-right: 20px;
}

.subbox img {
	border: 15px solid #F8EFBA;
}

.poptip {
	width: 260px;
	height: 400px;
	border: 1px solid #8395a7;
	border-radius: 0.5em; //
	box-shadow: 5px 5px 10px black;
	overflow: hidden;
	margin-top: 30px;
	margin-left: 15px;
	margin-bottom: 20px;
}

.top_title hr {
	margin: 0;
}

.top_title h3 {
	color: #718093;
	text-shadow: 1px 1px 1px slategray;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

}
.top_title {
	height: 35px;
}

.top_title span {
	margin-left: 100px;
	font-weight: 800;
}

.top_title span>a {
	text-decoration: none;
	color: #fdcb6e;
}

.content {
	height: 30px;
	overflow: hidden;
	padding-right: 3px;
	margin-top: 3px;
	text-overflow: ellipsis;
}

.flag {
	border-radius: 15%;
	background-color: #8c7ae6;
	color: snow;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: 800;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	display: inline-block;
	font-size: 10px;
}

.content p {
	display: inline;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
}

.content a {
	text-decoration: none;
	color: #1e3799;
}

.products {
	width: 600px;
	margin-left: 50px;
	border-radius: 0.5em; //
	box-shadow: 5px 5px 10px black;
	margin-bottom: 50px;
}

#product_title {
	margin-bottom: 0px;
	margin-top: 2px;
	text-align: center;
}

.product {
	width: 150px;
	height: 170px;
}

.product_news {
	display: flex;
	min-height: 200px;
}

.product_special {
	display: flex;
	min-height: 200px;
}

.product_all {
	display: flex;
	min-height: 200px;
}

#prodimgbox {
	width: 102px;
	height: 102px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: 1px solid #c8d6e5;
}

#prodname {
	display: grid;
	text-align: center;
}

#prodprice {
	display: grid;
	text-align: center;
}

#prodname a {
	text-decoration: none;
	color: #d63031;
	font-style: 800;
}

#notice {
	display: inline-block;
	margin: auto;
	font-size: 20px;
	font-weight: 700;
	background-color: #8c7ae6;
	border-radius: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 6px;
	padding-right: 6px;
	color: snow;
}

.Main {
	width: 1200px;
	border-radius: 0.5em;
	box-shadow: 2px 2px 2px 3px #2c2c54;
	margin: auto;
	height: auto;
	background: #FFFFFF;
}

.top_bar {
	width: 250px;
    height: 20px;
    padding-bottom: 8px;
    padding-top: 5px;
    text-align: center;
    background-color: #ffda79;
    border-radius: 10px;
    /* margin-left: auto; */
    margin-right: 120px;
    position: relative;
    display: inline-block;
    left: 520px;
}
.top_bar a{
	text-decoration: none;
	color: #34495e;
	font-weight:700;
}
.logo{
	width: 300px;
    height: 100px;
    position: relative;
    left: 120px;
    top: 15px;
}
#prodinfo_imgbox{
	width: 292px;
    height: 352px;
    border: 1px solid #dfe6e9;
    margin-top: 30px;
    margin-left: 40px;
}
#prodinfo_form{
    width: 300px;
    height: 350px;
    margin-top: 30px;
    margin-left: 20px;
}
#prodform span{
	display:block;
	letter-spacing: 0.5px;
}
#prodform span>p{
		display: inline;
    margin-left: 20px;
    font-size: inherit;
}
#prodna{
    font-size: 35px;
    /* font-family: sans-serif; */
    font-weight: 700;
    margin-top: 5px;
    color: #2d3436;
    text-align: left;
}
#putawaytime{
	margin-top: 5px;
    font-size: initial;
    font-weight: 600;
}
#prodpri{
	font-size: 26px;
    color: #ff7675;
    font-weight: 900;
    margin-top: 5px;
}
#pj{
	margin-top: 5px;
}
#grade{
	    color: #d63031;
    font-size: 20px;
    font-weight: 700;
}
#prodform label{
	    margin-top: 20px;
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 16px;
}
#count{
	margin-top:20px;
	border: 1px solid #DADADA;
	color: #888;
	height: 30px;
 margin-bottom: 16px;
 margin-right: 6px;
 margin-left:20px;
 outline: 0 none;
 padding: 3px 3px 3px 5px;
 width:100px;
 font-size: 12px;
 line-height:15px;

}
#prodform input[type="submit"] {
 background: #E27575;
 border: none;
 padding: 10px 25px 10px 25px;
    color: #FFF;
 box-shadow: 1px 1px 5px #B6B6B6;
 border-radius: 3px;
 text-shadow: 1px 1px 1px #9E3F3F;
 cursor: pointer;
 }
#prodform input[type="submit"]:hover {
 background: #CF7A7A
 }



