.jquery-accordion-menu,.jquery-accordion-menu * {
	font-family: 'Open Sans',sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	outline: 0
}

.jquery-accordion-menu{
	min-width: 260px;
	float: left;
	position: relative;
	box-shadow: 0 20px 50px #333;
	margin-bottom: 100px;
	
}

.jquery-accordion-menu .jquery-accordion-menu-footer,.jquery-accordion-menu .jquery-accordion-menu-header {
	width: 100%;
	height: 50px;
	padding-left: 22px;
	float: left;
	line-height: 50px;
	font-weight: 600;
	color: #f0f0f0;
	background: #414956
}

.jquery-accordion-menu ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.jquery-accordion-menu ul li {
	width: 100%;
	display: block;
	float: left;
	position: relative
}

.jquery-accordion-menu ul li a {
	width: 100%;
	padding: 14px 22px;
	float: left;
	text-decoration: none;
	color: #f0f0f0;
	font-size: 13px;
	background: #414956;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	-o-transition: color .2s linear,background .2s linear;
	-moz-transition: color .2s linear,background .2s linear;
	-webkit-transition: color .2s linear,background .2s linear;
	transition: color .2s linear,background .2s linear
}

.jquery-accordion-menu>ul>li.active>a,.jquery-accordion-menu>ul>li:hover>a {
	color: #fff;
	background: #3b424d
}

.jquery-accordion-menu>ul>li>a {
	border-bottom: solid 1px #3b424d
}

.jquery-accordion-menu ul li a i {
	width: 34px;
	float: left;
	line-height: 18px;
	font-size: 16px;
	text-align: left
}

.jquery-accordion-menu .submenu-indicator {
	float: right;
	right: 22px;
	position: absolute;
	line-height: 19px;
	font-size: 20px;
	-o-transition: transform .3s linear;
	-moz-transition: transform .3s linear;
	-webkit-transition: transform .3s linear;
	-ms-transition: transform .3s linear
}

.jquery-accordion-menu ul ul.submenu .submenu-indicator {
	line-height: 16px
}

.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator {
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.jquery-accordion-menu ul ul.submenu,.jquery-accordion-menu ul ul.submenu li ul.submenu {
	width: 100%;
	display: none;
	position: static
}

.jquery-accordion-menu ul ul.submenu li {
	clear: both;
	width: 100%
}

.jquery-accordion-menu ul ul.submenu li a {
	width: 100%;
	float: left;
	font-size: 11px;
	background: #383838;
	border-top: none;
	position: relative;
	border-left: solid 6px transparent;
	-o-transition: border .2s linear;
	-moz-transition: border .2s linear;
	-webkit-transition: border .2s linear;
	transition: border .2s linear
}

.jquery-accordion-menu ul ul.submenu li:hover>a {
	border-left-color: #414956
}

.jquery-accordion-menu ul ul.submenu>li>a {
	padding-left: 30px
}

.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a {
	padding-left: 45px
}

.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a {
	padding-left: 60px
}

.jquery-accordion-menu ul li .jquery-accordion-menu-label,.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
	min-width: 20px;
	padding: 1px 2px 1px 1px;
	position: absolute;
	right: 18px;
	top: 14px;
	font-size: 11px;
	font-weight: 800;
	color: #555;
	text-align: center;
	line-height: 18px;
	background: #f0f0f0;
	border-radius: 100%
}

.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
	top: 12px
}

.ink {
	display: block;
	position: absolute;
	background: rgba(255,255,255,.3);
	border-radius: 100%;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0)
}

.animate-ink {
	-webkit-animation: ripple .5s linear;
	-moz-animation: ripple .5s linear;
	-ms-animation: ripple .5s linear;
	-o-animation: ripple .5s linear;
	animation: ripple .5s linear
}

@-webkit-keyframes ripple {
	100% {
		opacity: 0;
		-webkit-transform: scale(2.5)
	}
}

@-moz-keyframes ripple {
	100% {
		opacity: 0;
		-moz-transform: scale(2.5)
	}
}

@-o-keyframes ripple {
	100% {
		opacity: 0;
		-o-transform: scale(2.5)
	}
}

@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(2.5)
	}
}

.blue.jquery-accordion-menu .jquery-accordion-menu-footer,.blue.jquery-accordion-menu .jquery-accordion-menu-header,.blue.jquery-accordion-menu ul li a {
	background: #4A89DC
}

.blue.jquery-accordion-menu>ul>li.active>a,.blue.jquery-accordion-menu>ul>li:hover>a {
	background: #3e82da
}

.blue.jquery-accordion-menu>ul>li>a {
	border-bottom-color: #3e82da
}

.blue.jquery-accordion-menu ul ul.submenu li:hover>a {
	border-left-color: #3e82da
}

.green.jquery-accordion-menu .jquery-accordion-menu-footer,.green.jquery-accordion-menu .jquery-accordion-menu-header,.green.jquery-accordion-menu ul li a {
	background: #03A678
}

.green.jquery-accordion-menu>ul>li.active>a,.green.jquery-accordion-menu>ul>li:hover>a {
	background: #049372
}

.green.jquery-accordion-menu>ul>li>a {
	border-bottom-color: #049372
}

.green.jquery-accordion-menu ul ul.submenu li:hover>a {
	border-left-color: #049372
}

.red.jquery-accordion-menu .jquery-accordion-menu-footer,.red.jquery-accordion-menu .jquery-accordion-menu-header,.red.jquery-accordion-menu ul li a {
	background: #ED5565
}

.red.jquery-accordion-menu>ul>li.active>a,.red.jquery-accordion-menu>ul>li:hover>a {
	background: #DA4453
}

.red.jquery-accordion-menu>ul>li>a {
	border-bottom-color: #DA4453
}

.red.jquery-accordion-menu ul ul.submenu li:hover>a {
	border-left-color: #DA4453
}

.white.jquery-accordion-menu .jquery-accordion-menu-footer,.white.jquery-accordion-menu .jquery-accordion-menu-header,.white.jquery-accordion-menu ul li a {
	background: #fff;
	color: #555
}

.white.jquery-accordion-menu>ul>li.active>a,.white.jquery-accordion-menu>ul>li:hover>a {
	background: #f0f0f0
}

.white.jquery-accordion-menu>ul>li>a {
	border-bottom-color: #f0f0f0
}

.white.jquery-accordion-menu ul ul.submenu li:hover>a {
	border-left-color: #f0f0f0
}

.white.jquery-accordion-menu ul ul.submenu li a {
	color: #f0f0f0
}

.white.jquery-accordion-menu>ul>li>a>.ink {
	background: rgba(0,0,0,.1)
}

.black.jquery-accordion-menu .jquery-accordion-menu-footer,.black.jquery-accordion-menu .jquery-accordion-menu-header,.black.jquery-accordion-menu ul li a {
	background: #292929
}

.black.jquery-accordion-menu>ul>li.active>a,.black.jquery-accordion-menu>ul>li:hover>a {
	background: #222
}

.black.jquery-accordion-menu>ul>li>a {
	border-bottom-color: #222
}

.black.jquery-accordion-menu ul ul.submenu li:hover>a {
	border-left-color: #222
}

.content2{
	margin-left:40%;
    margin-right:auto;
    width: 550px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 16px Georgia, "Times New Roman", Times, serif;
    color: #576574;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
    position: relative;
    top:60px;
    min-height:240px;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 10px;
}
.content2 h1{
	font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #576574;
}
.content2 h1>span {
display: block;
font-size: 11px;
}
.content2 label {
display: block;
margin: 0px;
}
.content2 label>span {
float: left;
width: 30%;
text-align: right;
padding-right: 10px;
 margin-top: 10px;
color: #576574;
}
.content2 input[type="text"], .content2 input[type="email"],.content2 input[type="password"],.content2 select {
 border: 1px solid #DADADA;
 color: #576574;
 height: 30px;
 margin-bottom: 16px;
 margin-right: 6px;
 margin-top: 2px;
 outline: 0 none;
 padding: 3px 3px 3px 5px;
 width: 60%;
 font-size: 12px;
 font-weight:600;
 line-height:15px;
 box-shadow: inset 0px 1px 4px #ECECEC;
 -moz-box-shadow: inset 0px 1px 4px #ECECEC;
 -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.content2 textarea{
	border: 1px solid #DADADA;
 color: #576574;
 height: 100px;
 margin-bottom: 16px;
 margin-right: 6px;
 margin-top: 2px;
 outline: 0 none;
 padding: 3px 3px 3px 5px;
 width: 60%;
 font-size: 12px;
 font-weight:600;
 line-height:15px;
 box-shadow: inset 0px 1px 4px #ECECEC;
 -moz-box-shadow: inset 0px 1px 4px #ECECEC;
 -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.content2 input:read-only{
	color: #888;
	font-weight:200;
}
.content2 input[type="radio"]{
	height: 30px;
	 margin-bottom: 16px;
 	margin-right: 6px;
 	margin-top: 2px;
 	margin-left: 30px;
}
.content2 input[type="submit"]{
	margin-left: 30px;
	margin-top: 20px;
}
.content3{
	margin-left:30%;
    margin-right:auto;
    width: 900px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 16px Georgia, "Times New Roman", Times, serif;
    color: #576574;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
    position: relative;
    top:60px;
    min-height:240px;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 10px;
}
.order_info {
 margin-left:auto;
    margin-right:auto;
 border-collapse: collapse;

 font-family: Futura, Arial, sans-serif;
 width: 880px;
 word-break:break-all; word-wrap:break-all;

}
.order_info th {
 
 	background:#8e98a1;
	color: #222f3e;

}
.order_info th,td {
 
 padding: .65em;
 border: 1px solid #576574;

}
.notice{
	margin-left:auto;
    margin-right:auto;
 border-collapse: collapse;
 font-family: Futura, Arial, sans-serif;
 width: 880px;
 word-break:break-all; word-wrap:break-all;
}
.notice th,td{
	padding: .65em;
 border: 1px solid #576574;
}
.notice th {
 	background:#8e98a1;
	color: #222f3e;
}
.num{
	width:20%;
}
.message{
	width:80%;
}
